@page "/todoitems/edit"
@using Microsoft.EntityFrameworkCore
@using ScoutToDoApp.Models
@inject IDbContextFactory<ScoutToDoApp.Data.ScoutToDoAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>ToDoItem</h2>
<hr />
@if (ToDoItem is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ToDoItem" OnValidSubmit="UpdateToDoItem" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ToDoItem.Id" value="@ToDoItem.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="ToDoItem.Name" class="form-control" />
                    <ValidationMessage For="() => ToDoItem.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="iscomplete" class="form-label">IsComplete:</label>
                    <InputCheckbox id="iscomplete" @bind-Value="ToDoItem.IsComplete" class="form-check-input" />
                    <ValidationMessage For="() => ToDoItem.IsComplete" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="secret" class="form-label">Secret:</label>
                    <InputText id="secret" @bind-Value="ToDoItem.Secret" class="form-control" />
                    <ValidationMessage For="() => ToDoItem.Secret" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/todoitems">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private long Id { get; set; }

    [SupplyParameterFromForm]
    private ToDoItem? ToDoItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ToDoItem ??= await context.ToDoItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (ToDoItem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateToDoItem()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ToDoItem!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ToDoItemExists(ToDoItem!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/todoitems");
    }

    private bool ToDoItemExists(long id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.ToDoItem.Any(e => e.Id == id);
    }
}
